<div class="container img_container" style="margin-top: 5%;">
  <div class="items" class="col-md-4">
    <img src="../../../assets/images/user_mgmt_img.jpg" class="img-thumbnail">
    <figcaption>User Management</figcaption>
  </div>
  <div class="items" class="col-md-4">
    <img src="../../../assets/images/task_mgmt_img.jpg" class="img-thumbnail">
    <figcaption>Task Management</figcaption>
  </div>
  <div class="items" class="col-md-4">
    <img src="../../../assets/images/reports_img.jpg" class="img-thumbnail">
    <figcaption>Reports</figcaption>
  </div>
</div>

<br>
<br>
<br>

<p class="dashboard">Dashboard</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Employee Number</th>
      <th>Employee Name</th>
      <th>Total Tasks Assigned</th>
      <th>Status</th>
      <th>Calendar Week</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of emps">
      <td>{{emp.id}}</td>
      <td>{{emp.emp_name}}</td>
      <td>{{emp.tot_task}}</td>
      <td>{{emp.status}}</td>
      <td>{{emp.week}}</td>
    </tr>

  </tbody>
</table>